<!--Navigation-->
<nav class="navbar navbar-expand-md navbar-light  sticky-top" style="background: whitesmoke ">
<div class="container-fluid">
  <a class="nav-bar brand" href="#"><img src="assets/imgs/logo.jpg" style="width:60px; height:50px; border-radius: 5px;"></a>
  <!--<button class="navbar-togggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
   <span class="navbar-toggler-icon"></span> 
  </button>-->
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</div>
</nav>
<!--image slider-->
<div id="slides" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
    
  </ul>
  <div class="carousel-inner"> 
    <div class="carousel-item active">
      <img src="assets/imgs/music6.jpg" style="width:100%; height: 750px;">
      <div class="carousel-caption">
        <h1 class="display-2">Evans Mbinji</h1>
        <h3>Check out Mbinji's arrangements and compositions</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/imgs/music7.jpg" style="width:100%; height: 750px;">
    </div>
    <div class="carousel-item">
      <img src="assets/imgs/music5.jpg" style="width:100%; height: 750px;">
    </div>
   
  </div>
</div>
<hr class="light">
<!--About us section-->
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-12 col-lg-6">
      <h2>More about Mbinji...</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio totam nobis! Necessitatibus architecto 
         quia <br>doloremque dolore dolorem nulla nostrum vel, sunt aliquam, veritatis, molestiae explicabo alias nemo rem omnis?</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio totam nobis! Necessitatibus architecto 
          quia <br>doloremque dolore dolorem nulla nostrum vel, sunt aliquam, veritatis, molestiae explicabo alias nemo rem omnis?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio totam nobis! Necessitatibus architecto 
            quia <br>doloremque dolore dolorem nulla nostrum vel, sunt aliquam, veritatis, molestiae explicabo alias nemo rem omnis?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odio totam nobis! Necessitatibus architecto 
              quia <br>doloremque dolore dolorem nulla nostrum vel, sunt aliquam, veritatis, molestiae explicabo alias nemo rem omnis?</p>
        <br>
        <a href="#" class="btn btn-primary">My Curriculum Vitae (CV)</a>
    </div>
    <div class="col-md-12 col-lg-6">
      <img src="assets/imgs/image8.jpg" class="img-fluid">
    </div>
  </div>
</div>
<hr class="display-4">
<!--Connect-->
