<!--Navigation-->
<nav class="navbar navbar-expand-md navbar-light  sticky-top" style="background: whitesmoke ">
<div class="container-fluid">
  <a class="nav-bar brand" href="#"><img src="assets/imgs/logo.jpg" style="width:60px; height:50px; border-radius: 5px;">EVANS O.MBINJI</a>
  <!--<button class="navbar-togggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
   <span class="navbar-toggler-icon"></span> 
  </button>-->
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Biography</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Music Catalogue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</div>
</nav>
<!--image slider-->

<div id="container" style="background:black;" >
<div id="slides" class="carousel slide" data-ride="carousel" style="align-content:center">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
    
  </ul>
  <div class="carousel-inner"> 
    <div class="carousel-item active">
      <img src="assets/imgs/EVANS O.MBINJI1.png" >
      <div class="carousel-caption">
        <h2 class="display-2" style="color:blue">Evans Obanda Ouma Mbinji</h2>
        <h3 style="color: grey">
          Director of Choral Activities<br>
          Music Notes Publications<br>
          Artistic Director Karura School, Jobel Chorale & Parklands S.D.A Church Choir<br>
          Member of American Choral Directors Association — ACDA<br>
          Member of International Federation for Choral Music -- IFCM.
          </h3>
      </div>
      
    </div>
    <div class="carousel-item">
    <img src="assets/imgs/POSTER1.png" >
    <div class="carousel-caption">
      <h2 class="display-2" style="color:blue">Conducted Workshops in:</h2>
      <h3 style="color:grey">
      Uganda<br>
      Tanzania<br>
      Egypt<br>
      U.S.A</h3>
    </div>
  </div>
    <div class="carousel-item">
      <img src="assets/imgs/College Of Idaho3.png" >
      <div class="carousel-caption">
        <h2 style="color:blue"> At College Of Idaho</h2>
        <h2 style="color:grey">Adjudicator and Lecturer
            both<br> nationally and internationally</h2>
      </div>
      
    </div>
   
  </div>
</div>
</div>

<hr class="light">

<!--About us section-->
<div class="container-fluid " style="background:white; ">
    <h1 style="color: gray; text-align:center;">BIOGRAPHY</h1>
  <div class="row padding">
    <div class="col-md-12 col-lg-6">
        <div class="card bg-light" style="max-width: 38rem; margin-left: 15%">
            <div class="card-header">Bio</div>
            <div class="card-body">
   
              <p class="card-text" style="font-size:23.5px">
                Mr.Mbinji is an Artistic Director of chorale activities as well as an
                adjudicator based in Nairobi,Kenya.<br>
                He Studied music at Daystar University and  during his teaching career has included
                both classroom and choral music education.<br>
                Currently He is a Music teacher at Karura Adventist School, Director of Music at Parklands SDA
                Church and Artistic Director of Jobel Chorale (Which used to be Jubilee Chorale) 
                that He is the co-founder.<br>Jobel Chorale is committed to global-style programming, 
                interdenominational performance projects, and 
                innovative collaborations across the city. <br>
                Most of his Arrangements and Compositions have featured as set-pieces in different festivals.<br>
                His choirs have won numerous international and national awards.
              </p>
            </div>
          </div>
     
      
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card  bg-light" style="max-width: 38rem;margin-left: 15% ">
            <div class="card-header">Achievements</div>
            <div class="card-body">
                <img class="card-img-top" img src="assets/imgs/bio1.png">
   
              <p class="card-text" style="font-size:20.5px">
                A member of the America Choral Directors Association - ADCA <br>
                Member of Kenya Choral Directors Trust.<br>
                Member of International Federation for Choral Music-IFCM.<br>
                Delivered workshops in Uganda,Tanzania, Egypt and USA.<br>
                Co-founder of Jobel Chorale<br>
                Frequent adjudicator at “KMF” Kenya Music Festival 
               

              </p>
            </div>
          </div>
     
      
    </div>
    
   
   
      
      
  </div>
</div>
<hr class="display-4">
<!--Connect-->
<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-12">
      <h2>Connect</h2>
    </div>
    <div class="col-12 padding">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-google-plus-g"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</div>